@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

.createPageCont {
    background-color: #f7d6e7;
    min-height: 100vh;
}

/* .createPageHeading {
    padding: 100px 0 20px 0;

    font-family: "Emilys Candy", serif;
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .25px;
    color: #813e8e;
} */

.pageTitle {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    padding-top: 100px;
}

.createExpenseCont {
    background-color: #f7d6e7;
    
}

.createExpenseBox {
    background-color: #ffc0cb;
    /* border: 2px solid #a63085; */
    box-shadow: 2px 6px 5px 3px rgba(212, 93, 196, 0.555);
}
