@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

.createPageCont {
    background-color: #f7d6e7;
    min-height: 100vh;
    /* margin: auto 0; */
}


.createPageTitle {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    padding-top: 30px;
    font-size: medium;

    background-image: url('/images/DarkPinkFlowersBg.png');
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.createExpenseCont {
    background-color: #f7d6e7;
    margin-bottom: 20px;
    
}

.createExpenseBox {
    /* background-color: #ffc0cb; */
    background-image: url('/images/PinkFlowersBg.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    padding: clamp(1rem, 2vw, 1.5rem);
    max-width: 720px;
    margin: 0 auto;
}

.expenseInput {
    background-color: #ffc0cb !important;
    color: azure;
    border: solid 2px azure !important;
    font-weight: 700;
    letter-spacing: .7px;
    font-size: clamp(0.85rem, 1.1vw, 1rem) !important;
    min-height: 44px;
    padding: 0.7rem 0.9rem;
}
.expenseInput::placeholder {
    color: azure;
}


.receiptUploadBtn {
    background-image: url('/images/DarkPinkFlowersBg.png') !important;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    background-color: transparent !important;
    color: azure !important;
    font-weight: 700 !important;
    max-width: 420px;
}
.receiptUploadBtn:hover {

}

.addExpenseBtn {
    color: azure !important;
    width: 60% !important;
    background-image: url('/images/DarkPinkFlowersBg.png') !important;
    background-size: cover;
    text-transform: uppercase;
    font-weight: 700 !important;  
    max-width: 420px;
}
.addExpenseBtn a {
    text-decoration: none !important;
}

.receiptUploadBtn:hover, .addExpenseBtn:hover {
    color: pink !important;
}



/* MEDIA SCREENS */
@media screen and (min-width: 768px) { 
    .createPageTitle {
        letter-spacing: 8px;
        font-size: x-large;
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    .createPageTitle {
        font-size: xx-large;
    }
}

@media screen and (min-width: 2560px) {
    .createPageTitle {
        font-size: 60px;
    }

}
