@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');


.expensePage {
    background-color: rgb(247, 214, 231);
}

.pageTitle {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}
