@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');


.expensePage {
    background-color: rgb(247, 214, 231);
}

.pageTitle {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.viewAllLink {
    color: #813e8e;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #ff69b4;
    padding-bottom: 4px;
}

.viewAllLink:hover {
    color: #ff69b4;
}

.expensesTableWrap {
    width: 100%;
    overflow-x: auto;
    border-radius: 18px;
    border: 2px solid #ff69b4;
    box-shadow: 0 10px 24px rgba(212, 93, 196, 0.35);
}

.expensesTable {
    width: 100%;
    border-collapse: collapse;
    font-family: "Emilys Candy", serif;
}

.expensesTable thead th {
    background-image: url('/images/DarkPinkFlowersBg.png');
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 16px;
    border-bottom: 2px solid #ff69b4;
}

.expensesTable tbody td {
    padding: 12px 16px;
    color: #813e8e;
    border-bottom: 1px solid rgba(255, 105, 180, 0.45);
}

.expensesTable tbody tr:nth-child(odd) td {
    background-color: #ffe4ee;
}

.expensesTable tbody tr:nth-child(even) td {
    background-color: #fff7fb;
}

.expensesTable tbody tr:hover td {
    background-color: #813e8e;
    color: #fff;
}

.expensesTable tbody td:last-child {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .expensesTable thead {
        display: none;
    }
    .expensesTable,
    .expensesTable tbody,
    .expensesTable tr,
    .expensesTable td {
        display: block;
        width: 100%;
    }
    .expensesTable tr {
        margin-bottom: 12px;
    }
    .expensesTable td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }
    .expensesTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 16px;
        top: 12px;
        font-weight: 700;
        color: #bb3497;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
