@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');


.colorHolder {
    background-color: #f7d6e7;
}

.homePage {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-rows: repeat(6, 1fr); */
    grid-template-rows: auto;
    grid-template-columns: auto;
    min-height: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f7d6e7;
}

.homeLogo {
    width: 400px;
    padding-left: 65px;
}

/* DIV 1 STYLES : START */
.div1 {
    grid-area: 1 / 1 / 2 / 7;
    overflow: hidden; /* make sure navbar doesn't overflow */
    display: flex;
    flex-direction: column;
    background-color: #f7d6e7;
    padding-right: 20px;
}
    /* flower animation and styling */
    .flowerCont {
        position: relative;
    }
     /* spin the flower */
    .flower {
        width: 90%;
        object-fit: cover;
        animation: spin 10s linear infinite;
        /* Slow spinning */
        transition: opacity 0.5s ease-in-out;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /* stop spinning flower on hover */
    .flowerCont:hover .flower {
        animation-play-state: paused;  /* pauses spinning */
        opacity: 0; /* fades out on hover */
    }
    .link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        font-size: 13px;
        font-weight: bold;
        color: #ff69b4;
        text-align: center;
        /* Pretty pink */
        text-decoration: none;
    }

    /* show the link when flower fades out */
    .flowerCont:hover .link {
        opacity: 1;
    }
/* DIV 1 STYLES: END */


/*  DIV 2 STYLES: START */
.div2 {
    grid-area: 2 / 1 / 5 / 4;
    margin-left: -10px;
    /* padding-left: 10px; */

    background-color: #f7d6e7;

}
    /* Calender Styling */
    .calenderMainCont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .createEventBtn {
        background-color: #ffc0cb;
        color: #f4d8dd;
        width: 350px;
        height: 40px;
        /* align-self: center; */
        margin-bottom: 20px;
        border-radius: 10px; 
    }
    .createEventBtn:hover {
        background-color: ;
    }

    .calendarCont {
        /* width: 100%; */
        max-width: 500px;
        margin: auto;
        padding: 35px;
        background-color: #ffc0cb;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(212, 93, 196, 0.555);
    }
/* DIV 2 STYLES: END */


.div3 {
    grid-area: 2 / 4 / 3 / 6;
    background-color: #ffc0cb !important;
    color:#813e8e;
    border-radius: 12px;
    margin: 0 10px 0 10px;
    padding: 2px;
    width: 500px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 3px 5px rgba(212, 93, 196, 0.555);

    font-family: "Emilys Candy", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .25px;
}

.div4 {
    grid-area: 3 / 4 / 5 / 6;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: first baseline;
    align-items: center;
    background-color: #ffc0cb;
    margin: 15px;
    /* padding-top: 20px; */
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 2px 6px 5px 3px rgba(212, 93, 196, 0.555);

    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    /* text-transform: uppercase; */
}
.expenseReportTitle {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #813e8e;
    margin-top: 15px;
}



.div5 {
    grid-area: 2 / 6 / 4 / 7;
    display: flex;
    background-color: #ffc0cb;
    text-align: center;
    border-radius: 12px;
    width: 350px;
    box-shadow: 6px 4px 5px rgba(212, 93, 196, 0.555);
    margin-right: 10px;
    height: 600px;
}
.finance-news {
    padding: 1rem;
    background-color: #ffc0cb;
    border-radius: 12px;
    /* box-shadow: 6px 4px 5px rgba(212, 93, 196, 0.555); */
}

.finance-news h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    color: #813e8e;
}

.finance-news ul {
    list-style: none;
    padding: 0;
}

.finance-news li {
    margin-bottom: 1rem;
}

.finance-news a {
    font-weight: bold;
    color: #813e8e;
    font-weight: 700;
    text-decoration: none;
}

.finance-news a:hover {
    text-decoration: underline;
}

.finance-news p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #bb3497;
}


.dividk {
    background-color: #ffc0cb;
}