@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');


* {
    overflow-x: hidden;
}

.homeMainCont {
    background-color: #f7d6e7;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "nav"
        "right"
        "left"
        "reports"
        "finance";
    gap: 20px;
    padding: 16px;
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7d6e7;
}

.homeLogo {
    width: 400px;
}

/* DIV 1 STYLES : START */
.navbar {
    grid-area: nav;
    overflow: hidden; /* make sure navbar doesn't overflow */
    display: flex;
    flex-direction: column;
    background-color: #f7d6e7;
    padding-right: 20px;
}
    /* flower animation and styling */
    .flowerCont {
        position: relative;
    }
     /* spin the flower */
    .flower {
        width: 90%;
        object-fit: cover;
        animation: spin 10s linear infinite;
        /* Slow spinning */
        transition: opacity 0.5s ease-in-out;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /* stop spinning flower on hover */
    .flowerCont:hover .flower {
        animation-play-state: paused;  /* pauses spinning */
        opacity: 0; /* fades out on hover */
    }
    .link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        font-size: 13px;
        font-weight: bold;
        color: #ff69b4;
        text-align: center;
        /* Pretty pink */
        text-decoration: none;
    }

    /* show the link when flower fades out */
    .flowerCont:hover .link {
        opacity: 1;
    }



.calendar {
    background-color: #f7d6e7;
    grid-area: left;
    align-self: start;
}

/* React Big Calendar line color overrides */
.calendarCont .rbc-month-view,
.calendarCont .rbc-day-bg,
.calendarCont .rbc-month-row,
.calendarCont .rbc-time-view,
.calendarCont .rbc-time-header,
.calendarCont .rbc-time-content,
.calendarCont .rbc-timeslot-group,
.calendarCont .rbc-header,
.calendarCont .rbc-date-cell {
    border-color: #ff69b4 !important;
}
    /* Calender Styling */
    .calenderMainCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .createEventBtn {
        background-image: url('/images/DarkPinkFlowersBg.png') ;
        background-size: cover;
        background-position: center;
        text-transform: uppercase;
        background-color: transparent !important;
        color: azure !important;
        /* background-color: #ffc0cb !important; */
        width: 80%;
        height: 30%;
        /* margin-bottom: 20px; */
        border-radius: 10px; 
        opacity: 10 !important;
        letter-spacing: 2px;
        font-size: medium !important;
        /* box-shadow: 5px 3px 5px rgba(212, 93, 196, 0.555) !important; */
        /* border: solid 2px #ff69b4 !important; */
    }
    .createEventBtn:hover {
        /* background-color: #813e8e !important; */
        color: #f4d8dd !important;
        border: solid 3px #ff69b4 !important;
    }

    div.calendar {
        
    }
    .calendarCont {
        width: 100%;
        margin: auto;
        padding-top: 15px;
        background-color: #ffc0cb;
        border-radius: 10px;
        border: 2px solid #ff69b4;
        
        /* box-shadow: 5px 3px 5px  rgba(212, 93, 196, 0.555); */
    }

/* Calendar toolbar (heading area) */
.calendarCont .rbc-toolbar {
    color: #ff69b4;
}

.calendarCont .rbc-toolbar button {
    border-color: #ff69b4;
    color: #ff69b4;
}

.calendarCont .rbc-toolbar button.rbc-active,
.calendarCont .rbc-toolbar button:active {
    background-color: #ff69b4;
    color: #fff;
}



.div3 {
    grid-area: right;
    align-self: start;
}

.quote {
    background-color: #ffc0cb !important;
    color:#813e8e;
    border-radius: 12px;
    display: flex;
    justify-self: center;
    width: 95%;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 3px 5px rgba(212, 93, 196, 0.555);
    font-family: "Emilys Candy", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .25px;
}



.reports {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    background-color: #ffc0cb;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 2px 6px 5px 3px rgba(212, 93, 196, 0.555);

    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    grid-area: reports;
    align-self: start;
}
.expenseReportTitle {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #813e8e;
    margin-top: 15px;
}



.financeNews {
    display: flex;
    justify-self: center;
    background-color: #ffc0cb;
    text-align: center;
    border-radius: 12px;
    width: 95%;
    box-shadow: 2px 6px 5px 3px rgba(212, 93, 196, 0.555);
    grid-area: finance;
    align-items: center;
    justify-content: center;
}
.finance-news {
    padding: 2rem;
    background-color: #ffc0cb;
    border-radius: 12px;
}

.finance-news h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    color: #813e8e;
}

.finance-news ul {
    list-style: none;
    padding: 0px;
}

.finance-news li {
    margin-bottom: 1rem;
}

.finance-news a {
    font-weight: bold;
    color: #813e8e;
    font-weight: 700;
    text-decoration: none;
}

.finance-news a:hover {
    text-decoration: underline;
}

.finance-news p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #bb3497;
}


.dividk {
    background-color: #ffc0cb;
}




/* MEDIA SCREENS */
@media screen and (max-width: 1439px) {
    .homeMainCont {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "nav"
            "right"
            "left"
            "reports"
            "finance";
        padding: 16px;
    }
    .div3,
    .quote,
    .reports,
    .financeNews,
    .calendarCont {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .homeMainCont {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "nav nav"
            "left right"
            "left reports"
            "finance finance";
        gap: 24px;
        padding: 24px 32px;
    }
    .quote,
    .reports,
    .financeNews {
        width: 95%;
    }
    .calendarCont {
        width: 100%;
    }
    .createEventBtn {
        font-size: clamp(18px, 1.2vw, 24px);
        letter-spacing: 2px;
    }
    .quoteText {
        font-size: clamp(22px, 1.5vw, 30px);
    }
    .expenseReportTitle {
        font-size: clamp(22px, 1.5vw, 30px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .createEventBtn {
        width: 40%;
        align-self: flex-start;
    } 
    .quoteText {
        font-size: 30px;
    } 
    .finance-news {
        display: flex; 
        flex-direction: column;
        align-self: center;
        width: 100%;
        font-size: 28px;
    }

}

@media screen and (min-width: 2560px) {
    .createEventBtn {
            width: 40%;
            align-self: flex-start;
    }
    .calendarCont {
        /* width: 2000px; */
        height: 760px;
    }

    .quote, .reports, .financeNews {
        width: 50%;
    }

    .finance-news {
        width: 100%;
        font-size: 40px;
    }
    .finance-news h2 {
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .finance-news p {
        font-size: 25px;
    }
}
